In [19]:
import numpy as np

In [20]:
import pandas as pd

In [21]:
data=pd.read_csv('Movie Review Data setcsv')
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [23]:
df=data.head(10000)
df

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
9995  Fun, entertaining movie about WWII German spy ...  positive
9996  Give me a break. How can anyone say that this ...  negative
9997  This movie is a bad movie. But after watching ...  negative
9998  This is a movie that was probably made to ente...  negative
9999  Smashing film about film-making. Shows the int...  positive

[10000 rows x 2 columns]

In [26]:
df.shape

(10000, 2)

In [28]:
df.info()
# NO missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 156.4+ KB

In [29]:
df["sentiment"].replace({'positive':1,"negative":0},inplace=True)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_28732\3349177963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sentiment"].replace({'positive':1,"negative":0},inplace=True)

In [30]:
df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [31]:
df["review"][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [35]:
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

In [37]:
df["review"]=df["review"].apply(remove_html_tags)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_28732\1676675786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]=df["review"].apply(remove_html_tags)

In [41]:
def convert_lower(text):
    return text.lower()

In [42]:
df['review']=df['review'].apply(convert_lower)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_28732\3595734256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['review']=df['review'].apply(convert_lower)

In [43]:
# Special characters

In [44]:
def remove(text):
    x=""
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+" "
    return x

In [46]:
df["review"]=df["review"].apply(remove)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_28732\2597079729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]=df["review"].apply(remove)

In [47]:
df

                                                 review  sentiment
0     one of the other reviewers has mentioned that ...          1
1     a wonderful little production  the filming tec...          1
2     i thought this was a wonderful way to spend ti...          1
3     basically there s a family where a little boy ...          0
4     petter mattei s  love in the time of money  is...          1
...                                                 ...        ...
9995  fun  entertaining movie about wwii german spy ...          1
9996  give me a break  how can anyone say that this ...          0
9997  this movie is a bad movie  but after watching ...          0
9998  this is a movie that was probably made to ente...          0
9999  smashing film about film making  shows the int...          1

[10000 rows x 2 columns]

In [48]:
import nltk

In [49]:
from nltk.corpus import stopwords

In [52]:
len(stopwords.words('english'))# it is a 179 words list

179

In [55]:
def rmv_stopword(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [56]:
df['review']=df["review"].apply(rmv_stopword)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_28732\3001602397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['review']=df["review"].apply(rmv_stopword)

In [57]:
df

                                                 review  sentiment
0     [one, reviewers, mentioned, watching, 1, oz, e...          1
1     [wonderful, little, production, filming, techn...          1
2     [thought, wonderful, way, spend, time, hot, su...          1
3     [basically, family, little, boy, jake, thinks,...          0
4     [petter, mattei, love, time, money, visually, ...          1
...                                                 ...        ...
9995  [fun, entertaining, movie, wwii, german, spy, ...          1
9996  [give, break, anyone, say, good, hockey, movie...          0
9997  [movie, bad, movie, watching, endless, series,...          0
9998  [movie, probably, made, entertain, middle, sch...          0
9999  [smashing, film, film, making, shows, intense,...          1

[10000 rows x 2 columns]

In [58]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [59]:
y=[]
def stem(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [60]:
df["review"]=df["review"].apply(stem)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_28732\749319104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]=df["review"].apply(stem)

In [62]:
def joinn(list_input):
    return " ".join(list_input)

In [63]:
df["review"]=df["review"].apply(joinn)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_28732\1193678268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]=df["review"].apply(joinn)

In [65]:
df["review"][0]

'one review mention watch 1 oz episod hook right exactli happen first thing struck oz brutal unflinch scene violenc set right word go trust show faint heart timid show pull punch regard drug sex violenc hardcor classic use word call oz nicknam given oswald maximum secur state penitentari focus mainli emerald citi experiment section prison cell glass front face inward privaci high agenda em citi home mani aryan muslim gangsta latino christian italian irish scuffl death stare dodgi deal shadi agreement never far away would say main appeal show due fact goe show dare forget pretti pictur paint mainstream audienc forget charm forget romanc oz mess around first episod ever saw struck nasti surreal say readi watch develop tast oz got accustom high level graphic violenc violenc injustic crook guard sold nickel inmat kill order get away well manner middl class inmat turn prison bitch due lack street skill prison experi watch oz may becom comfort uncomfort view that get touch darker side'

In [157]:
l=[1000,1500,2000,1800]

In [182]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=2000)

In [183]:
X=cv.fit_transform(df["review"]).toarray()

In [184]:
X.shape

(10000, 2000)

In [185]:
# 10000 rows and 36k columns 36 k unique words

In [186]:
X[0].max()

4

In [187]:
X[0].mean()

0.059

In [188]:
y=df.iloc[:,-1].values

In [189]:
y.shape

(10000,)

In [190]:
# note x shape is 36k and y is 10k

In [191]:
# Split data in two parts

In [192]:
from sklearn.model_selection import train_test_split

In [193]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [194]:
X_train.shape

(8000, 2000)

In [195]:
X_test.shape

(2000, 2000)

In [196]:
y_train.shape

(8000,)

In [197]:
y_test.shape

(2000,)

In [198]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [199]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [200]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [201]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

# will get new array of same dimension y_test

In [202]:
y_pred1.shape

(2000,)

In [203]:
from sklearn.metrics import accuracy_score

In [204]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Binomial",accuracy_score(y_test,y_pred3))

Gaussian 0.7855
Multinomial 0.842
Binomial 0.8455

In [205]:
# we can increase accurary by passing optinal parameter max_features colums like koi word 10000 me se ek baar aaya then no need to use it

# BY using Tf-IDF